# Development and assets directories should automatically take incoming changes
development/** merge=ours
public/assets/** merge=ours

# Specific file types should be treated as binary and auto-merge
*.blend binary merge=ours
*.glb binary merge=ours 