# Dependencies
node_modules

# Lock files

# Build outputs
dist

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Make sure development folder is NOT ignored
!development/
!development/**

# But maybe ignore some temp/cache files within it
development/**/*.blend1
development/**/*.blend2
development/**/*.blend3
development/**/.DS_Store

**/node_modules/
**/.cursor/

