# Development and assets directories should automatically take incoming changes
development/** merge=theirs
public/assets/** merge=theirs

# Specific file types should be treated as binary and auto-merge
*.blend binary merge=theirs
*.glb binary merge=theirs 